@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100&family=Oswald:wght@700&family=Rampart+One&display=swap");

/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Rampart One', cursive; 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Alfa Slab One", cursive;
}
#content {
  color: #fff;
  height: calc(100vh - 56px);
  background-color: blue;
}
// .bg-dark {
//     background-color: blue !important;
// }
.myNav {
    background-color: blue !important; //;
}
